<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--below all keys value we can store value in azure key vaults and we can access in config file as well i knew this thing as well-->
		<!--for now we had implemented encryption decryption method-->
    <add key="clientId" value="sjxjIHEtx+HCxyzF/9aS/SpsUkO2re93GRmmPk4lJHE="/>
    <add key="clientSecret" value="hPh0Ygpa+pS74AcNvos5CzrMWGOh3zXz0ZEenGk8n5Y="/>
    <add key="username" value="g1DQxVwSMjoLZsSSCb8U1w=="/>
    <add key="password" value="yI71ssVvzjFaPFamNFauCQ=="/>
		<add key="key" value="Ibdd7eIcddowEDKs"/>
	</appSettings>
</configuration>